* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-size: 12px;
  /* border: 1px solid black; */
}

body {
  margin: 50px 20px;
  font-family: "Lexend Deca", sans-serif;
}

.keyboard {
  cursor: default;
  color: black;
  background: linear-gradient(137deg, #b6bab9 0%, #b2b2b2 75%);
  /* color: white;
    background: linear-gradient(
      137deg,
      rgb(182, 186, 185) 0%,
      rgb(178, 178, 178) 75%
    ); */
  margin: 0 auto;
  width: 1020px;
  height: 380px;
  position: relative;
  border-radius: 10px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  width: 1000px;
  align-items: start;
}

.btn-out {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
  width: 54px;
  height: 54px;
}

.btn-in {
  border-radius: 5px;
  /* border: 1px solid grey; */
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.288);
  width: calc(100% - 8px);
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn-in:hover {
  filter: brightness(104%);
}

.btn-in:active {
  background-color: inherit;
}

.hover-class {
  filter: brightness(104%);
}

.btn-in.active-class {
  background-color: inherit;
}

/* keyboard 1 */
.var1out {
  background-color: #bcb59f;
}

.var1in {
  background-color: #cec7ae;
}

.var2out {
  background-color: #ddd7cb;
}

.var2in {
  background-color: #f3ecdf;
}
body {
  background-color: #191a1b;
  color: black;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 3rem;
  color: black;
  color: #eee;
}

.header {
  display: flex;
  align-items: center;
}

.timer,
.errors,
.accuracy,
.cpm,
.wpm,
.end,
.difficulty {
  cursor: default;
  background-color: #ccda46;
  position: fixed;
  height: 60px;
  width: 70px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 5px 8px 5px;
}

.cpm,
.wpm {
  display: none;
}

.timer {
  font-size: 5rem;
  cursor: default;
  top: 5%;
  right: 30%;
}

.accuracy {
  top: 5%;
  right: 25%;
}
.errors {
  top: 5%;
  right: 20%;
}

.cpm {
  top: 5%;
  right: 15%;
}

.wpm {
  top: 5%;
  right: 10%;
}

.end,
.difficulty {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
  right: 5%;
}

.difficulty {
  top: 5%;
  left: 30%;
}

.end > div,
.difficulty > div {
  font-size: 1.5rem;
}
.header_text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.curr_time,
.curr_errors,
.curr_accuracy,
.curr_cpm,
.curr_wpm {
  font-size: 2rem;
}

.first {
  /* width: 100%; */
  /* height: 300px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote {
  background-color: #191a1b;
  /* height: 200px; */
  width: 1030px;
  font-size: 2rem;
  margin: 10px;
  padding: 25px;
  text-align: justify;
  color: #eee;
  /* box-shadow: black 5px 8px 5px; */
  /* position: absolute; */
}
.input_area {
  background-color: #191a1b;
  height: 200px;
  width: 1000px;
  font-size: 2rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
  /* resize: none; */
  /* overflow: hidden; */
  /* color: #eee; */
  box-shadow: black 5px 8px 5px;
}

.restart_btn {
  display: none;
  position: fixed;
  top: 5%;
  left: 20%;
  background-color: #ccda46;
  font-size: 2rem;
  height: 60px;
  width: 100px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 5px 8px 5px;
}

.incorrect_char {
  color: #eeeeee;
  text-decoration: underline;
}

@keyframes color-change {
  0% {
    color: #4cae4c;
  }
  20% {
    color: #409eb5;
  }
  40% {
    color: #8134f4;
  }
  60% {
    color: #f10e19;
  }
  80% {
    color: #ffc505;
  }
  100% {
    color: #4cae4c;
  }
}

.correct_char {
  color: #79a617;
  /* animation: color-change 10s linear infinite; */
  /* animation: rgb 5s linear infinite; */
  /* color: darkgreen; */
}

.no {
  color: #48494b;
}

.hidden {
  /* z-index: -100; */
  opacity: 0;
}
